@import url('https://fonts.googleapis.com/css?family=EBGaramond&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'EBGaramond', serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 16px 48px 16px 48px;
  gap: 16px;
  max-height: 32px;
  background-color: rgb(0, 0, 0);
  color: rgb(229, 109, 18);
  font-size: 24px;
}

.logo-img {
  max-width: 48px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.logo {
  font-weight: 500;
}

.player {
  display: flex;
  align-items: center;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 32px;
  border: 2px solid rgb(255, 255, 255);
}

.audio-img {
  max-width: 32px;
  max-height: 32px;
}

a {
  color: rgb(229, 109, 18);
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 5% 75px 5%;
  background-image: url(./images/main_shrine_2.png);
  background-color: #000000;
  background-size: auto;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 32px;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
}

.hero-texts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 65%;
}

.quote {
  font-style: italic;
}

.rekindle {
  width: 70%;
  border: 0px;
  border-radius: 12px;
  color: rgb(137, 94, 66);
  background-color: rgba(85, 82, 82, 0.8);
  font-size: 32px;
  text-align: center;
}

.rekindle:hover {
  color:#ff0000;
}

.rekindle:focus {
  color:  rgb(0, 0, 0);
  /* background-color: rgb(232, 59, 12); */
  background: radial-gradient(circle, rgba(232,59,12,1) 5%, rgba(130,55,31,1) 97%);

}

.hero-img {
  min-width: 325px;
  width: 30%;
  height: 30%;
  border-radius: 16px;
}

.hero-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 75px;
  gap: 50px;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(180deg, rgb(31, 30, 30) 40%, rgba(130,55,31,1) 100%);
  color: rgb(229, 109, 18);
}

.introduction {
  font-size: 18px;
  text-align: center;
}

.portraits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.portrait {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: 250px;
  margin-bottom: 35px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}

.portrait-img {
  border-radius: 4px;
}

.quote-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgba(130,55,31,1) 100%);
  color:rgb(229, 109, 18);
  font-size: 64px;
  font-style: italic;
}

.quote-text {
  flex: 1 1 1;
  width: 80%;
}

.signature {
  margin-left: 50%;
  font-size: 24px;
  font-style: normal;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  background-image: url(./images/sparks.gif);
  background-size: cover;
}

.action-field {
  width: 60%;
  padding: 50px;
  border-radius: 16px;
  background: linear-gradient(135deg, rgba(120, 90, 61, 0.85) 19%, rgba(59,47,35, 0.75) 100%);  
  color:rgb(229, 109, 18);
  font-size: 24px;
}