@import url('https://fonts.googleapis.com/css?family=EBGaramond&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'EBGaramond', serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 16px 48px 16px 48px;
  gap: 16px;
  max-height: 32px;
  background-color: rgb(0, 0, 0);
  color: rgb(229, 109, 18); /*fiery orange for text and muddy brown for background like in dark souls*/
  font-size: 24px;
}

.logo-img {
  max-width: 48px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.logo {
  font-weight: 500;
}

.player {
  display: flex;
  align-items: center;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 32px;
  border: 2px solid rgb(255, 255, 255);
}

.audio-img {
  max-width: 32px;
  max-height: 32px;
}

a {
  color: rgb(229, 109, 18); /*<a> tag overrides header text colour with its own value: blue*/
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background-image: url(./images/main_shrine_2.png);
  background-color: #000000;
}

.hero-texts {
  padding: 50px;
  margin: 100px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
}

.quote {
  font-style: italic;
}

.rekindle {
  width: 50%;
  border: 0px;
  border-radius: 12px;
  color: rgb(137, 94, 66);
  background-color: rgba(85, 82, 82, 0.8);
  font-size: 32px;
  text-align: center;
}

.rekindle:hover {
  color:#ff0000;
}

.rekindle:focus {
  color:  rgba(0, 0, 0);
  background-color: rgb(232, 59, 12);
}